
strong{
	font-weight: bolder;
}

.container {
    width: 100%;
	height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.fullpage_wrapper{
	height: 100%;
	position: relative; 
	transform: translate3d(0px, 0px, 0px); 
	transition: none 0s ease 0s; 
	touch-action: none;
}
.fp-tableCell{
	display: table-cell;
    vertical-align: middle;
    width: 100%;
	height: 100vh;
}
.fp-section.fp-table{
	display: table;
    table-layout: fixed;
    width: 100%;
	height:100vh;
}
.fp-section {
    position: relative;
    box-sizing: border-box;
}
/* HEADER */
.nav-header{
	position: relative;
    top: 40px;
    z-index: 100;
}
.nav-header .nav {
    width: 100%;
    align-items: center;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-header .nav .nav-header-home {
    width: 70%;
}
/* HOME */
.home{
	height: 1;
	display: flex;
    justify-content: center;
    
	
}
.home-profile-desc{
	display: flex;
	vertical-align:middle;
	justify-content: center;
    text-align: center;
	
}
.home-profile-desc-item{
	position: center;
	
}
.home-profile-desc-item-name{
	font-size: 2rem;
	margin-bottom: 2%;
	
}
.home-profile-desc-item-position{
	font-size: 1rem;
    margin-bottom: 15%;
	text-align:left;
}
.home-profile-desc{

}
/* BUTTON */
.home-profile-button {
    text-align: center;
}
.button{
      border: 2px solid #4a5968;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 700;
    background: #fff;
    color: #4a5968;
    font-size: 18px;
    letter-spacing: 1px;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
/* FOOTER */
.nav-footer{
	position: sticky;
    bottom: 40px;
    z-index: 100;
}
	
.row{
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	
}
.footer__icon{
  font-size: 1.5rem;
  color: var(--second-color);
  margin-bottom: 0;
  margin-right: 15px;
  
	
}

/* TYPEWRITING */
.txt-type > .txt {
   
}
.cursor  {
  border-right: 0.2rem solid #777;
   animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: black;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 80em;
}

@media screen and (min-width: 768px){
.home-profile-desc{
	display: flex;
	vertical-align:middle;
	justify-content: right;
    text-align: right;
}
.home-profile-desc-item-name{
	font-size: 4rem;
}
.home-profile-desc-item-position{
	font-size: 2rem;
	margin-bottom: 10%;
}
.home-profile-button {
    text-align: left;
}
}